@import "../../../../assets/configStyle.scss";
.answerFormsPage-sectionOne {
    &-inner {
        padding-top: 60px;
        padding-bottom: 60px;
        &-title {
            @include font(600, 30px, 43px, #2f2d51);
            margin-bottom: 30px;
        }
    }
}
